@media (max-width: 1250px) {
  .navline {
    max-width: 100%;
  }
  .double-box {
    height: auto;
    max-width: 100%;
    flex-wrap: wrap;
  }
  .quadra-box {
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 10px;
  }
  .left-box {
    margin: 0 auto;
  }
  .triple-img {
    margin: 0 auto;
  }
}
@media (max-width: 1030px) {
  .quadra-box {
    height: auto;
  }
}
@media (max-width: 600px) {
  .double-box {
    max-width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
  .triple-img {
    width: 100%;
  }
  .top-img {
    width: 100%;
    flex-wrap: wrap;
  }
  .bottom-img {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
  }
  .botom-info {
    max-width: 100%;
    margin-left: auto;
  }
  .bimg {
    max-width: 100%;
  }
  .aboutus {
    width: 100%;
    margin: 0 auto;
  }
  .ul {
    display: none;
  }
}
@media (max-width: 540px) {
  .top-img {
    display: flex;
    justify-content: center;
    height: auto;
  }
  .img2 {
    margin-left: 16px;
  }
  .section2 {
    height: auto;
  }
  .quadra-box {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: auto;
  }
  .botom-info {
    width: 100%;
    height: auto;
  }
}
